<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<h2>Trang Edit</h2>
<a class="btn btn-primary">Back To List</a>
<form action="/edit" method="post" th:object="${songDto}">
    <table class="table table-success">
        <input th:type="hidden" th:field="*{id}">
        <tr>
            <td>Song Name:</td>
            <td><input type="text" th:field="*{nameSong}"/></td>
            <td th:if="${#fields.hasErrors('nameSong')}" th:errors="*{nameSong}"></td>
        </tr>
        <tr>
            <td>Singer Name:</td>
            <td><input type="text" th:field="*{singer}"/></td>
            <td th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}"></td>
        </tr>
        <tr>
            <td>Kind:</td>
            <td><input type="text" th:field="*{kind}"/></td>
            <td th:if="${#fields.hasErrors('kind')}" th:errors="*{kind}"></td>
        </tr>
    </table>
    <input type="submit" class="btn btn-grey" value="Submit">
</form>


</body>
</html>