<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</head>
<body>
<h2>Danh Sách Sản Phẩm </h2>
<a href="/create" class="btn btn-primary">Add To List</a>

<form th:action="@{/search}" method="get">
    <input th:type="text" name="name">
    <input th:type="submit" name="action" value="findByName">
</form>

<table class="table table-info">

    <tr>
        <th>STT</th>
        <th>Name</th>
<!--        <th>Date</th>-->
        <th>Price</th>
        <th>Color</th>
<!--        <th>Status</th>-->
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="list,varStatus:${products}">
        <td th:text="${varStatus.count}"></td>
        <td th:text="${list.name}"></td>
        <td th:text="${list.color}"></td>
<!--        <td th:text="${list.date}"></td>-->
        <td th:text="${list.price}"></td>
<!--        <td th:text="${list.status}"></td>-->
        <td><a th:href="@{/{id}/view(id=${list.getId()})}">View</a></td>
        <td><a th:href="@{/{id}/update(id=${list.getId()})}">Edit</a></td>
        <td>
            <button th:attr="onclick=|deleteFacility('${list.name}' ,'${list.id}')|"
                    class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalDelete">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </button>
        </td>
    </tr>

</table>

<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/delete" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Confirm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="number" hidden id="deleteId" name="deleteId">
                    Are you sure delete product: <span id="nameProduct" class="fw-bold"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function deleteFacility(name ,productId){
        document.getElementById("deleteId").value = productId;
        document.getElementById("nameProduct").innerText = name;
    }
</script>

</body>
</html>