<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<h2>Trang Thêm Mới</h2>
<a href="/" class="btn btn-primary">Back To List</a>
<form action="/save" method="post" th:object="${products}">
    <table class="table table-primary">
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
        <tr>
           <td>
               <input type="text" th:field="*{name}">
           </td>
            <td>
                <input type="date" th:field="*{date}">
            </td>
            <td>
                <input type="text" th:field="*{price}">
            </td>
            <td>
                <input type="text" th:field="*{status}">
            </td>
        </tr>
    </table>
    <input type="submit" value="submit" class="btn btn-primary">

</form>



</body>
</html>