<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p></p>
<table>
    <tr>
        <th>STT</th>
       <th>WorkName</th>
        <th>Date</th>
        <th>View</th>
    </tr>
    <tr th:each="list,a : ${blogs}">
        <td th:text="${a.count}" ></td>
        <td th:text="${list.getWorkName()}"></td>
        <td th:text="${list.getDate()}"></td>
                <td><a th:href="@{/{id}/view(id=${list.id})}">View</a></td>
    </tr>


</table>

</body>
</html>