<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="text-align: center">Facility List</h1>
<form th:action="@{/facility/search}" method="get">
    <input th:type="text" name="name">
    <input th:type="submit" name="action" value="FindByName">
</form>
<table class="table table-primary">
    <tr>
        <th>Name</th>
        <th>Area</th>
        <th>Cost</th>
        <th>MaxPeople</th>
        <th>RentType</th>
    </tr>
    <tr th:each="facilities:${facility}">
        <td th:text="${facilities.name}"></td>
        <td th:text="${facilities.area}"></td>
        <td th:text="${facilities.cost}"></td>
        <td th:text="${facilities.maxPeople}"></td>
        <td th:text="${facilities.rentType.name}"></td>
    </tr>

</table>
<div>
<!--    <a th:href="@{'/facility/list'(page=${facility.number - 1},name=${name}, email=${email},customerType=${customerType})}"-->
    <a th:href="@{'/facility/list'(page=${facility.number - 1})}"
       th:if="${facility.hasPrevious()}">Previous</a>

    <span th:text="${facility.number + 1}"></span>
    <span th:text="${facility.totalPages }"></span>

<!--    <a th:href="@{'/facility/list'(page = ${facility.number + 1},name=${name}, email=${email},customerType=${customerType})}"-->
    <a th:href="@{'/facility/list'(page = ${facility.number + 1})}"
       th:if="${facility.hasNext()}">Next</a>
</div>

</body>
</html>