<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<a href="/category/create" class="btn btn-dark">Add To List</a>
<a href="/blog/" class="btn btn-success">Blog List</a>
<div>
    <form action="/category/">
        <input type="text" th:placeholder="search" name="name" th:value="${name}">
        <button type="submit">search</button>
    </form>

</div>

<table class="table table-primary">
    <tr>
        <th>STT</th>
        <th>NameCategory</th>
        <th>Delete</th>
        <th>Edit</th>

    </tr>
    <tr th:each="list,var:${categories}">
        <td th:text="${var.count}"></td>
        <td th:text="${list.name}"></td>
        <td><a th:href="@{/category/{id}/delete(id=${list.id})}" class="btn btn-primary">Delete</a></td>
        <td><a th:href="@{/category/{id}/edit(id=${list.id})}" class="btn btn-primary">Edit</a></td>


    </tr>
</table>
<div>
    <a th:href="@{'/category/'(page=${categories.number - 1}, name=${name})}" th:if="${categories.hasPrevious()}">Trước</a>
    <span th:text="${categories.number + 1}"></span>/<span th:text="${categories.totalPages}"></span>
    <a th:href="@{'/category/'(page=${categories.number + 1}, name=${name})}" th:if="${categories.hasNext()}">Sau</a>
</div>
</body>
</html>